@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header__square-pic {
  animation: rotate 20s linear infinite;
  background-color: #2f80ed;
  height: 568px;
  position: absolute;
  right: 0;
  top: 64px;
  transform: rotate(-15deg);
  width: 568px;
  z-index: 5;
}
