.feinman__wrapper {
  align-items: center;
  background: bottom 0 left 0 / 867px 637px no-repeat
    url(../../../images/feinman.png);
  display: flex;
  flex-direction: column;
  height: 790px;
  position: relative;
  margin: 0 auto;
  max-width: 1600px;
}
