@import url("_content/_copyright/footer__column_content_copyright.css");

.footer__column {
  display: flex;
  flex-direction: column;
}

.footer__column:nth-child(1) {
  margin-right: auto;
}

.footer__column:nth-child(3) {
  margin-left: 100px;
}
