.kaufman__triangle {
  animation: rotate 20s linear infinite;
  background-image: url(../../../images/triangle.svg);
  background-size: 877px 877px;
  height: 877px;
  position: absolute;
  right: 0;
  top: 0;
  width: 877px;
  z-index: -20;
}
