.header__content {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  height: 100%;
  background: bottom right / 765px 608px no-repeat
    url("../../../images/two_again.png");
  padding: 30px 64px;
  box-sizing: border-box;
}
