.footer__column-links {
  color: #fff;
  cursor: pointer;
  font: normal 18px/30px "Helvetica Neue", Arial, sans-serif;
  text-decoration: none;
  transition: opacity 0.3s linear;
}

.footer__column-links:hover {
  opacity: 0.7;
}
