.header__main-illustration {
  background: center / 765px 608px no-repeat
    url("../../../images/two_again.png");
  bottom: 0;
  height: 608px;
  position: absolute;
  right: 0;
  width: 765px;
  z-index: 1;
}
